{% extends 'base.twig' %}

{% block content %}

<section id="person" class="section">
    <div class="container">
        <article class="prose">
            {{ post.content }}
        </article>
    </div>
</section>

{% endblock %}