{% extends "base.twig" %}

{% block content %}
<section id="account" class="section py-18">
    <div class="container">
        <div class="account__wrapper mx-auto">
            {{ post.content }}
        </div>
    </div>
</section>
{% endblock %}