{% extends 'base.twig' %} 

{% block content %} 
<section class="section">
    <div class="container">
        <div class="af-form-wrapper">
            <form method="POST" action="https://outdoorcouncilofcanada.activehosted.com/proc.php" id="_form_7_" class="_form _form_7 _inline-form  _dark" novalidate>
                <input type="hidden" name="u" value="7" />
                <input type="hidden" name="f" value="7" />
                <input type="hidden" name="s" />
                <input type="hidden" name="c" value="0" />
                <input type="hidden" name="m" value="0" />
                <input type="hidden" name="act" value="sub" />
                <input type="hidden" name="v" value="2" />
                <input type="hidden" name="or" value="cbab50308929900693146d2cb9ec3210" />
                <div class="_form-content">
                    <div class="_form_element _x34662023 _full_width _clear" >
                        <div class="_form-title">Tips and Tricks Guidebook</div>
                    </div>
                    <div class="_form_element _x09937670 _full_width _clear" >
                        <div class="_html-code">Please enter your name and email to receive your copy.</div>
                    </div>
                    <div class="_form_element _x65806568 _full_width " >
                        <label for="fullname" class="_form-label"></label>
                        <div class="_field-wrapper">
                            <input type="text" id="fullname" name="fullname" placeholder="First name" required/>
                        </div>
                    </div>
                    <div class="_form_element _x31151446 _full_width " >
                        <label for="email" class="_form-label"></label>
                        <div class="_field-wrapper">
                            <input type="text" id="email" name="email" placeholder="Email address" required/>
                        </div>
                    </div>
                    <div class="_form_element _x87531434 _full_width _clear" >
                        <div class="_html-code">
                        <p>
                            <i>
                            By entering your email address above, you are requesting updates about upcoming events and learning outdoor education. You can opt out at any time, and we’ll never rent or sell your email address.
                            </i>
                        </p>
                        </div>
                    </div>
                    <div class="_button-wrapper _full_width">
                        <button id="_form_7_submit" class="_submit" type="submit">Download Your Copy</button>
                    </div>
                </div>
                <div class="_form-thank-you" style="display:none;"></div>
            </form>
            <script type="text/javascript" src="{{ theme.path ~ '/static/js/form7.js' }}"></script>
        </div>
    </div>
</section>

{% include 'partial/mountains.twig' %} 

{% endblock %}