{% extends "base.twig" %}

{% block content %}

{# BEGIN HERO SECTION #}
<section id="hero--page" class="section section--hero">
    <div class="container">
        <div class="hero__wrapper">
            <h1 class="people__heading">Our People</h1>
        </div>
    </div>
</section>
{# END HERO SECTION #}

{# BEGIN CONTENT SECTION #}
<section id="people" class="section">
    <div class="container">
        <div class="people__wrapper">
            {% for person in people %}
            <a href="{{ person.link }}" class="people__card">
                {% if person.thumbnail %}
                <img src="{{ person.thumbnail }}" alt="" class="people__card__image">
                {% endif %}
                <div class="people__right">
                    <h3 class="people__card__heading">{{ person.title }}</h3>
                    <p class="people__card__title">{{ person.position }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{# END CONTENT SECTION #}

{% include "partial/mountains.twig" %}

{% endblock %}