// ********************
// TYPOGRAPHY
// ********************

body {
  font-family: "Public Sans", sans-serif;
  color: map-get($slate, "500");
}

// ********************
// HEADINGS
// ********************

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Overpass", sans-serif;
  color: map-get($slate, "900");
}

h1 {
  font-weight: 700;
  letter-spacing: -0.05em;

  @media screen and (max-width: map-get($breakpoints, "small")) {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  @media screen and (min-width: map-get($breakpoints, "small")) and (max-width: (map-get($breakpoints, "medium") - 0.0625rem)) {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  @media screen and (min-width: map-get($breakpoints, "medium")) and (max-width: (map-get($breakpoints, "large") - 0.0625rem)) {
    font-size: 3rem;
    line-height: 1;
  }

  @media screen and (min-width: map-get($breakpoints, "large")) and (max-width: (map-get($breakpoints, "xl") - 0.0625rem)) {
    font-size: 3rem;
    line-height: 1;
  }

  @media screen and (min-width: map-get($breakpoints, "xl")) and (max-width: (map-get($breakpoints, "2xl") - 0.0625rem)) {
    font-size: 3.75rem;
    line-height: 1;
  }

  @media screen and (min-width: map-get($breakpoints, "2xl")) {
    font-size: 3.75rem;
    line-height: 1;
  }
}

h2 {
  font-weight: 500;
  letter-spacing: -0.05em;

  @media screen and (max-width: map-get($breakpoints, "small")) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  @media screen and (min-width: map-get($breakpoints, "small")) and (max-width: (map-get($breakpoints, "medium") - 0.0625rem)) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  @media screen and (min-width: map-get($breakpoints, "medium")) and (max-width: (map-get($breakpoints, "large") - 0.0625rem)) {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  @media screen and (min-width: map-get($breakpoints, "large")) and (max-width: (map-get($breakpoints, "xl") - 0.0625rem)) {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  @media screen and (min-width: map-get($breakpoints, "xl")) and (max-width: (map-get($breakpoints, "2xl") - 0.0625rem)) {
    font-size: 3rem;
    line-height: 1;
  }

  @media screen and (min-width: map-get($breakpoints, "2xl")) {
    font-size: 3rem;
    line-height: 1;
  }
}

h3 {
  font-weight: 700;
  letter-spacing: -0.025em;

  @media screen and (max-width: map-get($breakpoints, "small")) {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @media screen and (min-width: map-get($breakpoints, "small")) and (max-width: (map-get($breakpoints, "medium") - 0.0625rem)) {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @media screen and (min-width: map-get($breakpoints, "medium")) and (max-width: (map-get($breakpoints, "large") - 0.0625rem)) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  @media screen and (min-width: map-get($breakpoints, "large")) and (max-width: (map-get($breakpoints, "xl") - 0.0625rem)) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  @media screen and (min-width: map-get($breakpoints, "xl")) and (max-width: (map-get($breakpoints, "2xl") - 0.0625rem)) {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  @media screen and (min-width: map-get($breakpoints, "2xl")) {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

h4 {
  font-weight: 700;
  letter-spacing: -0.025em;

  @media screen and (max-width: map-get($breakpoints, "small")) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  @media screen and (min-width: map-get($breakpoints, "small")) and (max-width: (map-get($breakpoints, "medium") - 0.0625rem)) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  @media screen and (min-width: map-get($breakpoints, "medium")) and (max-width: (map-get($breakpoints, "large") - 0.0625rem)) {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @media screen and (min-width: map-get($breakpoints, "large")) and (max-width: (map-get($breakpoints, "xl") - 0.0625rem)) {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @media screen and (min-width: map-get($breakpoints, "xl")) and (max-width: (map-get($breakpoints, "2xl") - 0.0625rem)) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  @media screen and (min-width: map-get($breakpoints, "2xl")) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

h5 {
  @media screen and (max-width: map-get($breakpoints, "small")) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  @media screen and (min-width: map-get($breakpoints, "small")) and (max-width: (map-get($breakpoints, "medium") - 0.0625rem)) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  @media screen and (min-width: map-get($breakpoints, "medium")) and (max-width: (map-get($breakpoints, "large") - 0.0625rem)) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  @media screen and (min-width: map-get($breakpoints, "large")) and (max-width: (map-get($breakpoints, "xl") - 0.0625rem)) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  @media screen and (min-width: map-get($breakpoints, "xl")) and (max-width: (map-get($breakpoints, "2xl") - 0.0625rem)) {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @media screen and (min-width: map-get($breakpoints, "2xl")) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h6 {
  @media screen and (max-width: map-get($breakpoints, "small")) {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  @media screen and (min-width: map-get($breakpoints, "small")) and (max-width: (map-get($breakpoints, "medium") - 0.0625rem)) {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  @media screen and (min-width: map-get($breakpoints, "medium")) and (max-width: (map-get($breakpoints, "large") - 0.0625rem)) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  @media screen and (min-width: map-get($breakpoints, "large")) and (max-width: (map-get($breakpoints, "xl") - 0.0625rem)) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  @media screen and (min-width: map-get($breakpoints, "xl")) and (max-width: (map-get($breakpoints, "2xl") - 0.0625rem)) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  @media screen and (min-width: map-get($breakpoints, "2xl")) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

// ********************
// PROSE
// ********************

.prose {
  width: 100%;
  max-width: 65ch;
}

.prose p {
  margin: 1.25rem 0;

  @media screen and (max-width: map-get($breakpoints, "small")) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  @media screen and (min-width: map-get($breakpoints, "small")) and (max-width: (map-get($breakpoints, "medium") - 0.0625rem)) {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  @media screen and (min-width: map-get($breakpoints, "medium")) and (max-width: (map-get($breakpoints, "large") - 0.0625rem)) {
    font-size: 1rem;
    line-height: 1.7rem;
  }

  @media screen and (min-width: map-get($breakpoints, "large")) and (max-width: (map-get($breakpoints, "xl") - 0.0625rem)) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  @media screen and (min-width: map-get($breakpoints, "xl")) and (max-width: (map-get($breakpoints, "2xl") - 0.0625rem)) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  @media screen and (min-width: map-get($breakpoints, "2xl")) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.prose p:first-of-type {
  margin-top: 0;
}

.prose h2 {
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}

.prose img {
  margin: 2.5rem 0;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.prose a {
  font-weight: 600;
  color: $amaranth;
  text-decoration: none;
}

.prose figcaption {
  text-align: center;
}

strong {
  color: map-get($slate, "600");
}

.prose {
  ul > li {
    position: relative;
    padding-left: 2.5rem;

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      width: 1.25rem;
      height: 1.25rem;
      background-image: url("static/img/leaf-filled.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
}

.prose blockquote {
  border-left: 10px solid $amaranth;
  padding-left: 2.5rem;
}
