// ********************
// ACCOUNT
// ********************

.account__wrapper {
  @extend .prose;

  padding: 2.5rem;
  background-color: map-get($slate, "50");
  border: 2px solid map-get($slate, "100");
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.33rem;
  font-weight: 400;

  ul > li {
    padding-left: unset;

    &::before {
      display: none;
    }
  }

  a {
    display: block;
    margin: 1.25rem 0;
  }

  i {
    display: none;
  }

  .wishlistmember-mergecode-payperposts-showmorebutton {
    margin: 0;
    padding: 0;
  }
}
