.content__download {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  width: 100%;
  max-width: 23.125rem;
  margin-top: 3.75rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba($black, 0.1),
    0 4px 6px -4px rgba($black, 0.1);
  overflow: none;
}

.download__left {
  grid-column: span 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: map-get($slate, "50");
}

.download__right {
  grid-column: span 3 / span 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin-right: 1.25rem;
  background-image: url("static/img/google-drive.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.download__copy {
  position: relative;
  padding-right: 2.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  text-decoration: underline;
}

.download__copy::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5rem;
  background-image: url("static/img/external-link.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
