{% extends "base.twig" %}

{% block content %}

{# BEGIN HERO SECTION #}
<section id="hero--page" class="section section--hero">
    <div class="container">
        <div class="hero__wrapper">
            <h1 class="hero__heading--page">{{ post.title }}</h1>
            <a href="/" class="btn btn--primary">Become a member →</a>
        </div>
    </div>
</section>
{# END HERO SECTION #}

{# BEGIN CONTENT SECTION #}
<section id="people" class="section">
    <div class="container">
        <div class="people__wrapper">
            {% for post in posts %}
            <div class="people__card">
                <img src="{{ post.thumbnail }}" alt="" class="people__card__image">
                <h3 class="people__card__heading">{{ post.title }}</h3>
                <p class="people__card__title">{{ post.position }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{# END CONTENT SECTION #}

{% include "partial/mountains.twig" %}

{% endblock %}