<footer id="footer">
    <div class="container">
        <div class="footer__wrapper">
            <a href="#" class="footer__link">Home</a>
            <a href="#" class="footer__link">Home</a>
            <a href="#" class="footer__link">Home</a>
            <a href="/" class="footer__brand">
                <img src="{{ theme.path ~ '/static/img/occ-logo-white.svg' }}" alt="" class="footer__logo">
            </a>
            <a href="#" class="footer__link">Home</a>
            <a href="#" class="footer__link">Home</a>
            <a href="#" class="footer__link">Home</a>
        </div>
    </div>
</footer>