<footer id="footer" class="footer">
    <div class="footer__top pt-18 pb-12">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__col">
                    <a href="/" class="footer__brand">
                        <img src="{{ theme.path ~ '/static/img/occ-logo-white.svg' }}" alt="" class="footer__logo">
                    </a>
                </div>
                <div class="footer__col">
                    <h5 class="footer__heading">About</h5>
                    <a href="/home" class="footer__link">Home</a>
                    <a href="/about-us" class="footer__link">About Us</a>
                    <a href="/our-history" class="footer__link">Our History</a>
                    <a href="/our-people" class="footer__link">Our People</a>
                    <a href="/partners" class="footer__link">Partners</a>
                    <a href="/contact-us" class="footer__link">Contact Us</a>
                </div>
                <div class="footer__col">
                    <div class="footer__col--small">
                        <h5 class="footer__heading">Courses</h5>
                        <a href="/events" class="footer__link">Events</a>
                        <a href="/become-an-instructor" class="footer__link">Become an Instructor</a>
                    </div>
                    <div class="footer__col--small">
                        <h5 class="footer__heading">Resources</h5>
                        <a href="/directory" class="footer__link">Directory</a>
                        <a href="/documents" class="footer__link">Documents</a>
                        <a href="/canadian-outdoor-summit" class="footer__link">Canadian Outdoor Summit</a>
                    </div>
                </div>
                <div class="footer__col">
                    <h5 class="footer__heading">Legal</h5>
                    <a href="/directory" class="footer__link">Privacy Policy</a>
                    <a href="/documents" class="footer__link">Terms of Use</a>
                    <a href="/documents" class="footer__link">Disclaimer</a>
                    <a href="/documents" class="footer__link">Cookies Policy</a>
                </div>
                <div class="footer__col">
                    <h5 class="footer__heading">Membership</h5>
                    <a href="/login" class="footer__link">Login</a>
                    <a href="/my-account" class="footer__link">My Account</a>
                    <a href="/membership-benefits" class="footer__link">Membership Benefits</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom py-6">
        <div class="container">
            <div class="footer__bottom-wrapper">
                <p class="footer__copyright">© 2022 Outdoor Council of Canada - All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>