.btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 3.75rem;
  padding: 0.75rem 1.5rem;
  width: 100%;
  max-width: 16.875rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;

  &:hover {
    transform: translateY(-2px);
  }

  &--primary {
    color: white;
    background-color: $amaranth;
    border: 1px solid $amaranth;
  }

  &--secondary {
    color: $amaranth;
    background-color: $white;
    border: 1px solid $amaranth;
  }
}
